@font-face {
  font-family: "zm"; /* Project id 1159885 */
  src: url('//at.alicdn.com/t/font_1159885_syvp0if9gpm.woff2?t=1653626761429') format('woff2'),
       url('//at.alicdn.com/t/font_1159885_syvp0if9gpm.woff?t=1653626761429') format('woff'),
       url('//at.alicdn.com/t/font_1159885_syvp0if9gpm.ttf?t=1653626761429') format('truetype');
}

.zm {
  font-family: "zm" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zm-wo:before {
  content: "\e626";
}

.zm-home2:before {
  content: "\e7a7";
}

.zm-thumb-up-line:before {
  content: "\ef81";
}

.zm-thumb-up-fill:before {
  content: "\e862";
}

.zm-pinglun2:before {
  content: "\e8b4";
}

.zm-pinglun-:before {
  content: "\e60a";
}

.zm-pinglun3:before {
  content: "\e60c";
}

.zm-pinglun-1:before {
  content: "\e613";
}

.zm-record-sound-full:before {
  content: "\e971";
}

.zm-icon_dianzan_m:before {
  content: "\e617";
}

.zm-icon_dianzan_x:before {
  content: "\e618";
}

.zm-dianzan1:before {
  content: "\e639";
}

.zm-dianzan2:before {
  content: "\e63b";
}

.zm-iconset0335:before {
  content: "\e6ea";
}

.zm-xitong:before {
  content: "\e616";
}

.zm-chajian1:before {
  content: "\e69d";
}

.zm-bianji1:before {
  content: "\e678";
}

.zm-wenzhangguanli:before {
  content: "\e628";
}

.zm-waiguan:before {
  content: "\e6b3";
}

.zm-heiye:before {
  content: "\e615";
}

.zm-baitian:before {
  content: "\e712";
}

.zm-A:before {
  content: "\e6e5";
}

.zm-shezhi:before {
  content: "\e612";
}

.zm-zhuomiankuaijiefangshi:before {
  content: "\e6f4";
}

.zm-zu:before {
  content: "\e606";
}

.zm-sanJiaoBottom:before {
  content: "\e729";
}

.zm-guanli:before {
  content: "\e605";
}

.zm-home1:before {
  content: "\e733";
}

.zm-quanjushuxing:before {
  content: "\e8c6";
}

.zm-zhitongche:before {
  content: "\e6a8";
}

.zm-leibie:before {
  content: "\ea3b";
}

.zm-caidan:before {
  content: "\e68e";
}

.zm-yule:before {
  content: "\e660";
}

.zm-shoucang:before {
  content: "\e6ae";
}

.zm-shoucang1:before {
  content: "\e609";
}

.zm-gongzuo2:before {
  content: "\e60f";
}

.zm-napaigongzuo:before {
  content: "\e604";
}

.zm-huoyuedu:before {
  content: "\e77f";
}

.zm-like-b:before {
  content: "\e621";
}

.zm-liu-yan:before {
  content: "\eba1";
}

.zm-dianzan:before {
  content: "\e668";
}

.zm-hot:before {
  content: "\e67c";
}

.zm-xihuan:before {
  content: "\e611";
}

.zm-redu:before {
  content: "\e67b";
}

.zm-pinglun1:before {
  content: "\e60d";
}

.zm-vip:before {
  content: "\e610";
}

.zm-dingwei1:before {
  content: "\e603";
}

.zm-chexiaofanhuichehuishangyibu:before {
  content: "\e76b";
}

.zm-jiaoyiliangzongpaixing:before {
  content: "\e748";
}

.zm-bianji:before {
  content: "\e62e";
}

.zm-guidang:before {
  content: "\e666";
}

.zm-pingjia:before {
  content: "\e641";
}

.zm-icon_at:before {
  content: "\eb90";
}

.zm-icon_compile:before {
  content: "\eb93";
}

.zm-icon_details:before {
  content: "\eb94";
}

.zm-icon_dispose:before {
  content: "\eb95";
}

.zm-icon_link:before {
  content: "\eb98";
}

.zm-icon_namecard:before {
  content: "\eb99";
}

.zm-icon_voice:before {
  content: "\eba0";
}

.zm-shuo:before {
  content: "\e600";
}

.zm-31paixingbang:before {
  content: "\e601";
}

.zm-luyinshuohuashengyin:before {
  content: "\e6b2";
}

.zm-41shuoshuo:before {
  content: "\e658";
}

.zm-paihang:before {
  content: "\e607";
}

.zm-gaojian-guanjianzi:before {
  content: "\e671";
}

.zm-weibiaoti-:before {
  content: "\e60b";
}

.zm-liuyan:before {
  content: "\e650";
}

.zm-xiaoxi:before {
  content: "\e63a";
}

.zm-lianjie:before {
  content: "\e602";
}

.zm-pinglun:before {
  content: "\e608";
}

.zm-xinjian:before {
  content: "\e60e";
}

.zm-interactive:before {
  content: "\e704";
}

.zm-icon_index_line:before {
  content: "\eb97";
}

.zm-code:before {
  content: "\e62b";
}

.zm-live:before {
  content: "\e708";
}

.zm-edit:before {
  content: "\e69a";
}

.zm-home:before {
  content: "\e69b";
}

.zm-collection:before {
  content: "\e69e";
}

